@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

*{
  font-family: "Roboto", sans-serif;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url(./assets/Bitmap.jpg);
  background-repeat: repeat-x;
  background-size:cover;
  position: relative;
}

.todo-Content{
  display: flex;
  justify-content:left;
  max-width: 580px;
  margin: auto;
  padding-bottom: 30px;

}

.page-title{
  margin-top: 60px;
  letter-spacing: 0.5em;
  color: #fff;
  font-size: 45px;
  font-weight: 500;
}

.TodoInput{
  display: flex;
  justify-content:left;
  max-width: 580px;
  margin: auto;
  padding: 20px 0;
}


.InputActions button{
  padding: 18px;
  font-size: 17px;
  font-weight: 600;
  background: #fff;
  border-radius: 8px 0px 0px 8px;
  cursor: pointer;
}

.InputActions input{
  font-size: 17px;
  padding: 18px; 
  width: 530px;
  border-radius: 0px 8px 8px 0px;
  outline: none;

}

.List-Container{
  display: block;
  position: absolute;
  justify-content:center;
  width: 580px;
  margin-left: 480px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  border-radius: 8px;
  margin-top: 40px;
}

.List-Container .eachListItem{
  border-bottom: 1px solid gray;
  padding: 15px;
}
.List-Container .eachListItem:last-of-type{
  border-bottom: none;
}

.List-Container .eachListItem input[type=checkbox]{
  margin-right: 5px;
   transform: scale(1.4);
   cursor: pointer;

}
.List-Container .eachListItem span{
  margin-left: 10px;
  font-size: 17px;
}
.List-Container .eachListItem .icon{
  margin-left: 78%;
  cursor: pointer;
}

.List-Container li{
  list-style: none;
}

.header-Container{
  position: relative;
  display: block;
  justify-content: center;
  max-width: 588px;
  height: 250px;
  margin: auto;
  padding-top: 71px;
}

.header-Container h1{
  color: #fff;
  letter-spacing: 15px;
  font-weight: 550;
  padding-bottom: 36px;
  font-size: 50px;
  flex-grow: 1;
}
.header-Container h1 img{
  text-align: right;
  justify-content: right;
}

.header-Container .TodoInput{
  background: #fff;
  border-radius: 6px;
  height: 3.2em;
  margin: 10px 0px;
  display: flex;
  padding: 10px 0;
  align-items: center;
}

.header-Container button{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0 16px;
  border: 1px solid gray;
  cursor: pointer;
  color: #540f94;
  font-weight: bold;
  font-size: 14px;

}

.header-Container input[type= text]{
  height: 30px;
  width: 90%;
  font-size: 17px;
  background: transparent;

}


